<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>辐射职业照射数据采集和统一管理</title>
    <link type="text/css" rel="Stylesheet" href="../../Contents/Css/base.css" />
    <link type="text/css" rel="Stylesheet" href="../../Contents/Css/platform.css" />
    <link type="text/css" rel="Stylesheet" href="../../Scripts/jQEasyUI/themes/easyui.css" />
    <link type="text/css" rel="Stylesheet" href="../../Scripts/jQEasyUI/themes/icon.css" />
    <script type="text/javascript" src="../../Scripts/jquery.min.js"></script>
    <script type="text/javascript" src="../../Scripts/IllegalityCheck.js"></script>
    <script type="text/javascript" src="../../Scripts/jQEasyUI/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../../Scripts/jQEasyUI/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="../../Scripts/FunctionJS.js"></script>
</head>
<body class="easyui-layout">
    <form id="form1" method="post">
    <table style="width: 760px" class="kv-table">
        <tbody>
            <tr>
                <td class="kv-label" style="width: 100px">
                    人员选择<span class="ui-input-must">&nbsp;</span>
                </td>
                <td class="kv-content" colspan="3">
                    <input type="hidden" name="WPR_WKID" id="WorkID" />
                    <input class="easyui-validatebox" type="text" style="width: 150px" name="WorkName"
                        data-options="required:true" readonly="readonly" id="WorkName" />
                    <img src="../../Contents/Images/users.png" alt="选择" align="absMiddle" style="cursor: pointer"
                        onclick="ChoiceWorker()" />
                </td>
            </tr>
            <tr>
                <td class="kv-label">
                    设施名称<span class="ui-input-must">&nbsp;</span>
                </td>
                <td class="kv-content">
                    <input type="hidden" name="WPR_WKID" id="Hidden1" />
                    <input class="easyui-validatebox" type="text" style="width: 150px" name="WorkName"
                        data-options="required:true" readonly="readonly" id="Text1" />
                    <img src="../../Contents/Images/gr.png" alt="选择" align="absMiddle" style="cursor: pointer"
                        onclick="ChoiceWorker()" />
                </td>
                <td class="kv-label">
                    设施运行状态<span class="ui-input-must">&nbsp;</span>
                </td>
                <td class="kv-content">
                    <select class="easyui-combobox" editable="false" name="cdType" style="width: 120px;
                        height: 28px; line-height: 28px;" panelheight="auto">
                        <option value="">设施运行状态1</option>
                        <option value="">设施运行状态2</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="kv-label">
                    作业任务类别<span class="ui-input-must">&nbsp;</span>
                </td>
                <td class="kv-content">
                    <select class="easyui-combobox" editable="false" name="cdType" style="width: 120px;
                        height: 28px; line-height: 28px;" panelheight="auto">
                        <option value="">作业任务类别1</option>
                        <option value="">作业任务类别2</option>
                    </select>
                </td>
                <td class="kv-label">
                    作业子任务类别<span class="ui-input-must">&nbsp;</span>
                </td>
                <td class="kv-content">
                    <select class="easyui-combobox" editable="false" name="cdType" style="width: 120px;
                        height: 28px; line-height: 28px;" panelheight="auto">
                        <option value="">作业子任务类别1</option>
                        <option value="">作业子任务类别2</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="kv-label">
                    Hp(10)/中子<span class="ui-input-must">&nbsp;</span>
                </td>
                <td class="kv-content">
                    <input class="easyui-validatebox" type="text" style="width: 120px; height: 28px;
                        line-height: 28px;" name="WPR_AUTHDATE" data-options="required:true" />
                </td>
                <td class="kv-label">
                    Hp(10)/除中子外<span class="ui-input-must">&nbsp;</span>
                </td>
                <td class="kv-content">
                    <input class="easyui-validatebox" type="text" style="width: 120px; height: 28px;
                        line-height: 28px;" name="WPR_AUTHDATE" data-options="required:true" />
                </td>
            </tr>
            <tr>
                <td class="kv-label">
                    Hp(0.07)<span class="ui-input-must">&nbsp;</span>
                </td>
                <td class="kv-content">
                    <input class="easyui-validatebox" type="text" style="width: 120px; height: 28px;
                        line-height: 28px;" name="WPR_AUTHDATE" data-options="required:true" />
                </td>
                <td class="kv-label">
                    Hp(3)<span class="ui-input-must">&nbsp;</span>
                </td>
                <td class="kv-content">
                    <input class="easyui-validatebox" type="text" style="width: 120px; height: 28px;
                        line-height: 28px;" name="WPR_AUTHDATE" data-options="required:true" />
                </td>
            </tr>
            <tr>
                <td class="kv-label">
                    起始时间 <span class="ui-input-must">&nbsp;</span>
                </td>
                <td class="kv-content">
                    <input class="easyui-datebox" type="text" style="width: 120px; height: 28px; line-height: 28px;"
                        name="WPT_SDATE" data-options="required:true" />
                </td>
                <td class="kv-label">
                    结束时间 <span class="ui-input-must">&nbsp;</span>
                </td>
                <td class="kv-content">
                    <input class="easyui-datebox" type="text" style="width: 120px; height: 28px; line-height: 28px;"
                        name="WPT_EDATE" data-options="required:true" />
                </td>
            </tr>
        </tbody>
    </table>
    </form>
</body>
</html>
