<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>辐射职业照射数据采集和统一管理</title>
    <link type="text/css" rel="Stylesheet" href="../../Contents/Css/base.css" />
    <link type="text/css" rel="Stylesheet" href="../../Contents/Css/platform.css" />
    <link type="text/css" rel="Stylesheet" href="../../Scripts/jQEasyUI/themes/easyui.css" />
    <link type="text/css" rel="Stylesheet" href="../../Scripts/jQEasyUI/themes/icon.css" />
    <script type="text/javascript" src="../../Scripts/jquery.min.js"></script>
    <script type="text/javascript" src="../../Scripts/IllegalityCheck.js"></script>
    <script type="text/javascript" src="../../Scripts/jQEasyUI/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../../Scripts/jQEasyUI/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="../../Scripts/FunctionJS.js"></script>
</head>
<body class="easyui-layout" fit="true">
    <div data-options="region:'north',border:true,iconCls:'icon-list'" style="height: 46px">
        <table class="conditions">
            <tr>
                <td class="con-left" style="width: 80px">
                    关键字
                </td>
                <td class="con-right" style="width: 125px">
                    <input class="easyui-validatebox" name="cdKey" value="" style="width: 120px; height: 28px;
                        line-height: 28px;" data-options="required:false" validtype="length[1,100]">
                </td>
                <td class="con-right" style="width: 150px">
                    <a href='javascript:;'>
                        <img src="../../Contents/Images/xls.png" alt='' style="width: 13px; height: 13px;
                            border: 0" />
                        下载处理的原始文件 </a>
                </td>
                <td class="con-button" colspan="3" style="text-align: left">
                    <a href="javascript:;" id="btnSearch" onclick="Refresh()" class="easyui-linkbutton"
                        iconcls="icon-search" data-options="selected:false">查询</a>
                </td>
            </tr>
        </table>
    </div>
    <div data-options="region:'center',border:false,iconCls:'icon-list'">
        <table id="Table1" border="true" fit="true" class="easyui-datagrid" data-options="singleSelect: true, striped: true, pageSize: 20, pagination: true, rownumbers: true, nowrap: false">
            <thead>
                <tr>
                    <th data-options="field:'F1',width:100,align:'center',sortable: true">
                        姓名
                    </th>
                    <th data-options="field:'F2',width:60,align:'center',sortable: true">
                        性别
                    </th>
                    <th data-options="field:'F3',width:100,align:'center',sortable: true">
                        证件类型
                    </th>
                    <th data-options="field:'F4',width:170,align:'center',sortable: true">
                        证件号
                    </th>
                    <th data-options="field:'F5',width:100,align:'center',sortable: true">
                        出生年月
                    </th>
                    <th data-options="field:'F6',width:120,align:'center',sortable: true">
                        授权记录
                    </th>
                    <th data-options="field:'F10',width:120,align:'center',sortable: true">
                        工作单位
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        张三1
                    </td>
                    <td>
                        男
                    </td>
                    <td>
                        身份证
                    </td>
                    <td>
                        2128108321718830****X
                    </td>
                    <td>
                        1980年11月
                    </td>
                    <td>
                        授权记录***1
                    </td>
                    <td>
                        某某单位1
                    </td>
                </tr>
                <tr>
                    <td>
                        张三2
                    </td>
                    <td>
                        男
                    </td>
                    <td>
                        身份证
                    </td>
                    <td>
                        2128108321718830****X
                    </td>
                    <td>
                        1980年11月
                    </td>
                    <td>
                        授权记录***2
                    </td>
                    <td>
                        某某单位2
                    </td>
                </tr>
                <tr>
                    <td>
                        张三3
                    </td>
                    <td>
                        男
                    </td>
                    <td>
                        身份证
                    </td>
                    <td>
                        2128108321718830****X
                    </td>
                    <td>
                        1980年11月
                    </td>
                    <td>
                        授权记录***3
                    </td>
                    <td>
                        某某单位3
                    </td>
                </tr>
                <tr>
                    <td>
                        张三4
                    </td>
                    <td>
                        男
                    </td>
                    <td>
                        身份证
                    </td>
                    <td>
                        2128108321718830****X
                    </td>
                    <td>
                        1980年11月
                    </td>
                    <td>
                        授权记录***4
                    </td>
                    <td>
                        某某单位4
                    </td>
                </tr>
                <tr>
                    <td>
                        张三5
                    </td>
                    <td>
                        男
                    </td>
                    <td>
                        身份证
                    </td>
                    <td>
                        2128108321718830****X
                    </td>
                    <td>
                        1980年11月
                    </td>
                    <td>
                        授权记录***5
                    </td>
                    <td>
                        某某单位5
                    </td>
                </tr>
                <tr>
                    <td>
                        张三6
                    </td>
                    <td>
                        男
                    </td>
                    <td>
                        身份证
                    </td>
                    <td>
                        2128108321718830****X
                    </td>
                    <td>
                        1980年11月
                    </td>
                    <td>
                        授权记录***6
                    </td>
                    <td>
                        某某单位5
                    </td>
                </tr>
                <tr>
                    <td>
                        张三7
                    </td>
                    <td>
                        男
                    </td>
                    <td>
                        身份证
                    </td>
                    <td>
                        2128108321718830****X
                    </td>
                    <td>
                        1980年11月
                    </td>
                    <td>
                        授权记录***7
                    </td>
                    <td>
                        某某单位5
                    </td>
                </tr>
                <tr>
                    <td>
                        张三8
                    </td>
                    <td>
                        男
                    </td>
                    <td>
                        身份证
                    </td>
                    <td>
                        2128108321718830****X
                    </td>
                    <td>
                        1980年11月
                    </td>
                    <td>
                        授权记录***8
                    </td>
                    <td>
                        某某单位5
                    </td>
                </tr>
                <tr>
                    <td>
                        张三9
                    </td>
                    <td>
                        男
                    </td>
                    <td>
                        身份证
                    </td>
                    <td>
                        2128108321718830****X
                    </td>
                    <td>
                        1980年11月
                    </td>
                    <td>
                        授权记录***9
                    </td>
                    <td>
                        某某单位9
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
