<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>辐射职业照射数据采集和统一管理</title>
    <link type="text/css" rel="Stylesheet" href="../../Contents/Css/base.css" />
    <link type="text/css" rel="Stylesheet" href="../../Contents/Css/platform.css" />
    <link type="text/css" rel="Stylesheet" href="../../Scripts/jQEasyUI/themes/easyui.css" />
    <link type="text/css" rel="Stylesheet" href="../../Scripts/jQEasyUI/themes/icon.css" />
    <script type="text/javascript" src="../../Scripts/jquery.min.js"></script>
    <script type="text/javascript" src="../../Scripts/IllegalityCheck.js"></script>
    <script type="text/javascript" src="../../Scripts/jQEasyUI/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../../Scripts/jQEasyUI/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="../../Scripts/FunctionJS.js"></script>
</head>
<body class="easyui-layout" fit="true">
    <div data-options="region:'center',border:false,iconCls:'icon-list'">
        <table id="T3" border="false" fit="true" class="easyui-datagrid" data-options="singleSelect: true, striped: true, pageSize: 20, pagination: true, rownumbers: true, nowrap: false">
            <thead>
                <tr>
                    <th data-options="field:'F1',width:100,align:'center',sortable: true">
                        行业类别
                    </th>
                    <th data-options="field:'F2',width:100,align:'center',sortable: true">
                        职业类别
                    </th>
                    <th data-options="field:'F3',width:140,align:'center',sortable: true">
                        设施名称
                    </th>
                    <th data-options="field:'F4',width:120,align:'center',sortable: true">
                        许可证编号
                    </th>
                    <th data-options="field:'F6',width:100,align:'center',sortable: true">
                        变更日期
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        核设施
                    </td>
                    <td>
                        职业类别7
                    </td>
                    <td>
                        设施名称7
                    </td>
                    <td>
                        12345674327
                    </td>
                    <td>
                        2011-11-05
                    </td>
                </tr>
                <tr>
                    <td>
                        核设施
                    </td>
                    <td>
                        职业类别8
                    </td>
                    <td>
                        设施名称8
                    </td>
                    <td>
                        12345674328
                    </td>
                    <td>
                        2010-10-05
                    </td>
                </tr>
                <tr>
                    <td>
                        核设施
                    </td>
                    <td>
                        职业类别9
                    </td>
                    <td>
                        设施名称9
                    </td>
                    <td>
                        12345674329
                    </td>
                    <td>
                        2009-09-05
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
