<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>辐射职业照射数据采集和统一管理</title>
    <link type="text/css" rel="Stylesheet" href="../Contents/Css/base.css" />
    <link type="text/css" rel="Stylesheet" href="../Contents/Css/platform.css" />
    <link type="text/css" rel="Stylesheet" href="../Scripts/jQEasyUI/themes/easyui.css" />
    <link type="text/css" rel="Stylesheet" href="../Scripts/jQEasyUI/themes/icon.css" />
    <script type="text/javascript" src="../Scripts/jquery.min.js"></script>
    <script type="text/javascript" src="../Scripts/IllegalityCheck.js"></script>
    <script type="text/javascript" src="../Scripts/jQEasyUI/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../Scripts/jQEasyUI/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="../Scripts/FunctionJS.js"></script>
</head>
<body class="easyui-layout">
    <form id="form1" method="post">
    <table style="width: 760px" class="kv-table">
        <tbody>
            <tr>
                <td class="kv-label" style="width: 100px">
                    选择文件<span class="ui-input-must">&nbsp;</span>
                </td>
                <td class="kv-content">
                    <input type="file" />
                </td>
            </tr>
              <tr>
                <td class="kv-label" style="width: 100px">
                    数据类型<span class="ui-input-must">&nbsp;</span>
                </td>
                <td class="kv-content">
                    <select class="easyui-combobox" editable="false" name="cdType" style="width: 80px;
                        height: 28px; line-height: 28px;" panelheight="auto">
                        <option value="1">EPD</option>
                        <option value="2">TLD</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="kv-label">
                    导入模板下载<span class="ui-input-must">&nbsp;</span>
                </td>
                <td class="kv-content">
                    <a href='javascript:;'>
                        <img src="../Contents/Images/xls.png" alt='' style="width: 13px; height: 13px; border: 0" />
                        模板</a>
                </td>
            </tr>
            <tr>
                <td class="kv-label">
                    导入信息
                </td>
                <td class="kv-content">
                    行1：身份证号【2128108321718830****X】有误，无法匹配；<br />
                    行2：身份证号【2128108321718830****X】有误，无法匹配；
                    <br />
                    行3：身份证号【2128108321718830****X】有误，无法匹配；<br />
                    行4：身份证号【2128108321718830****X】有误，无法匹配；<br />
                    行5：身份证号【2128108321718830****X】有误，无法匹配；<br />
                    行6：身份证号【2128108321718830****X】有误，无法匹配；<br />
                    行7：身份证号【2128108321718830****X】有误，无法匹配；<br />
                    行8：身份证号【2128108321718830****X】有误，无法匹配；<br />
                    行9：身份证号【2128108321718830****X】有误，无法匹配；
                </td>
            </tr>
        </tbody>
    </table>
    </form>
</body>
</html>
