<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>辐射职业照射数据采集和统一管理</title>
    <link type="text/css" rel="Stylesheet" href="../../Contents/Css/base.css" />
    <link type="text/css" rel="Stylesheet" href="../../Contents/Css/platform.css" />
    <link type="text/css" rel="Stylesheet" href="../../Scripts/jQEasyUI/themes/easyui.css" />
    <link type="text/css" rel="Stylesheet" href="../../Scripts/jQEasyUI/themes/icon.css" />
    <script type="text/javascript" src="../../Scripts/jquery.min.js"></script>
    <script type="text/javascript" src="../../Scripts/IllegalityCheck.js"></script>
    <script type="text/javascript" src="../../Scripts/jQEasyUI/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../../Scripts/jQEasyUI/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="../../Scripts/FunctionJS.js"></script>
</head>
<body class="easyui-layout" fit="true">
    <div data-options="region:'north',border:true,iconCls:'icon-search'" style="height: 86px"
        title="查询条件">
        <form id="searchForm1">
        <table class="conditions">
            <tr>
                <td class="con-left" style="width: 80px">
                    设施名称
                </td>
                <td class="con-right" style="width: 105px">
                    <input class="easyui-validatebox" type="text" style="width: 80px" name="WK_CPNAME"
                        data-options="required:true" readonly="readonly" />
                    <img src="../../Contents/Images/icon_site.gif" alt="选择" align="absMiddle" style="cursor: pointer"
                        onclick="ChoiceCompany()" />
                </td>
                <td class="con-left" style="width: 100px">
                    作业任务类别
                </td>
                <td class="con-right" style="width: 130px">
                    <select class="easyui-combobox" editable="false" name="cdType" style="width: 120px;
                        height: 28px; line-height: 28px;" panelheight="auto">
                        <option value="">= 全部 = </option>
                        <option value="作业任务类别1">作业任务类别1</option>
                        <option value="作业任务类别2">作业任务类别2</option>
                    </select>
                </td>
                <td class="con-left">
                    查询时间段
                </td>
                <td class="con-right" style="width: 240px">
                    <input class="easyui-datebox" editable="false" name="cdSDate" id="cdSDate" value=""
                        style="width: 100px; height: 28px; line-height: 28px;" data-options="required:false">
                    ~
                    <input class="easyui-datebox" editable="false" name="cdEDate" id="cdEDate" value=""
                        style="width: 100px; height: 28px; line-height: 28px;" data-options="required:false">
                </td>
                <td class="con-button" colspan="4">
                    <a href="javascript:;" id="btnSearch" onclick="" class="easyui-linkbutton" iconcls="icon-search"
                        data-options="selected:false">查询</a>
                </td>
            </tr>
        </table>
        </form>
    </div>
    <div data-options="region:'center',border:false,iconCls:'icon-list'">
        <div id="opButton">
            <a href="javascript:;" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-43'"
                onclick="Exp()" title="导出">导出</a>
        </div>
        <table id="grid" border="false" fit="true" class="easyui-datagrid" data-options="toolbar: '#opButton',singleSelect: true, striped: true, pageSize: 20, pagination: true, rownumbers: true, nowrap: false">
            <thead>
                <tr>
                    <th data-options="field:'F0',width:100,align:'center',sortable: true">
                        年份
                    </th>
                    <th data-options="field:'F1',width:100,align:'center',sortable: true">
                        设施名称
                    </th>
                    <th data-options="field:'F01',width:100,align:'center',sortable: true">
                        单位
                    </th>
                    <th data-options="field:'F2',width:100,align:'center',sortable: true">
                        任务类别
                    </th>
                    <th data-options="field:'itemid112',width:90,align:'center'">
                        Hp(10)/中子
                    </th>
                    <th data-options="field:'itemid113',width:110,align:'center'">
                        Hp(10)/除中子外
                    </th>
                    <th data-options="field:'itemid114',width:80,align:'center'">
                        Hp(0.07)
                    </th>
                    <th data-options="field:'itemid115',width:80,align:'center'">
                        Hp(3)
                    </th>
                    <th data-options="field:'itemid116',width:80,align:'center'">
                        待积有效剂量
                    </th>
                    <th data-options="field:'itemid117',width:80,align:'center'">
                        肢端
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        2017年
                    </td>
                    <td>
                        设施名称1
                    </td>
                    <td>
                        单位1
                    </td>
                    <td>
                        任务类别1
                    </td>
                    <td>
                        0.23
                    </td>
                    <td>
                        0.23
                    </td>
                    <td>
                        0.23
                    </td>
                    <td>
                        0.23
                    </td>
                    <td>
                        1.15
                    </td>
                </tr>
                <tr>
                    <td>
                        2017年
                    </td>
                    <td>
                        设施名称2
                    </td>
                    <td>
                        单位1
                    </td>
                    <td>
                        任务类别3
                    </td>
                    <td>
                        0.23
                    </td>
                    <td>
                        0.23
                    </td>
                    <td>
                        0.23
                    </td>
                    <td>
                        0.23
                    </td>
                    <td>
                        0.23
                    </td>
                    <td>
                        1.15
                    </td>
                </tr>
                <tr>
                    <td>
                        2017年
                    </td>
                    <td>
                        设施名称3
                    </td>
                    <td>
                        单位1
                    </td>
                    <td>
                        任务类别2
                    </td>
                    <td>
                        0.23
                    </td>
                    <td>
                        0.23
                    </td>
                    <td>
                        0.23
                    </td>
                    <td>
                        0.23
                    </td>
                    <td>
                        0.23
                    </td>
                    <td>
                        1.15
                    </td>
                </tr>
                <tr>
                    <td>
                        2017年
                    </td>
                    <td>
                        设施名称4
                    </td>
                    <td>
                        单位1
                    </td>
                    <td>
                        任务类别4
                    </td>
                    <td>
                        0.23
                    </td>
                    <td>
                        0.23
                    </td>
                    <td>
                        0.23
                    </td>
                    <td>
                        0.23
                    </td>
                    <td>
                        1.15
                    </td>
                </tr>
                <tr>
                    <td>
                        2017年
                    </td>
                    <td>
                        设施名称5
                    </td>
                    <td>
                        单位1
                    </td>
                    <td>
                        任务类别5
                    </td>
                    <td>
                        0.23
                    </td>
                    <td>
                        0.23
                    </td>
                    <td>
                        0.23
                    </td>
                    <td>
                        0.23
                    </td>
                    <td>
                        0.23
                    </td>
                    <td>
                        1.15
                    </td>
                </tr>
                <tr>
                    <td>
                        2017年
                    </td>
                    <td>
                        设施名称6
                    </td>
                    <td>
                        单位1
                    </td>
                    <td>
                        任务类别6
                    </td>
                    <td>
                        0.23
                    </td>
                    <td>
                        0.23
                    </td>
                    <td>
                        0.23
                    </td>
                    <td>
                        0.23
                    </td>
                    <td>
                        0.23
                    </td>
                    <td>
                        1.15
                    </td>
                </tr>
                <tr>
                    <td>
                        2017年
                    </td>
                    <td>
                        设施名称7
                    </td>
                    <td>
                        单位1
                    </td>
                    <td>
                        任务类别7
                    </td>
                    <td>
                        0.23
                    </td>
                    <td>
                        0.23
                    </td>
                    <td>
                        0.23
                    </td>
                    <td>
                        0.23
                    </td>
                    <td>
                        1.15
                    </td>
                </tr>
                <tr>
                    <td>
                        2017年
                    </td>
                    <td>
                        设施名称8
                    </td>
                    <td>
                        单位1
                    </td>
                    <td>
                        任务类别8
                    </td>
                    <td>
                        0.23
                    </td>
                    <td>
                        0.23
                    </td>
                    <td>
                        0.23
                    </td>
                    <td>
                        0.23
                    </td>
                    <td>
                        1.15
                    </td>
                </tr>
                <tr>
                    <td>
                        2017年
                    </td>
                    <td>
                        设施名称9
                    </td>
                    <td>
                        单位1
                    </td>
                    <td>
                        任务类别9
                    </td>
                    <td>
                        0.23
                    </td>
                    <td>
                        0.23
                    </td>
                    <td>
                        0.23
                    </td>
                    <td>
                        0.23
                    </td>
                    <td>
                        1.15
                    </td>
                </tr>
                 <tr>
                    <td>
                        2017年
                    </td>
                    <td>
                        设施名称9
                    </td>
                    <td>
                        单位1
                    </td>
                    <td>
                        任务类别9
                    </td>
                    <td>
                        0.23
                    </td>
                    <td>
                        0.23
                    </td>
                    <td>
                        0.23
                    </td>
                    <td>
                        0.23
                    </td>
                    <td>
                        1.15
                    </td>
                </tr>
                <tr>
                    <td>
                        2017年
                    </td>
                    <td>
                        设施名称9
                    </td>
                    <td>
                        单位1
                    </td>
                    <td>
                        任务类别9
                    </td>
                    <td>
                        0.23
                    </td>
                    <td>
                        0.23
                    </td>
                    <td>
                        0.23
                    </td>
                    <td>
                        0.23
                    </td>
                    <td>
                        1.15
                    </td>
                </tr>
                <tr>
                    <td>
                        2017年
                    </td>
                    <td>
                        设施名称9
                    </td>
                    <td>
                        单位1
                    </td>
                    <td>
                        任务类别9
                    </td>
                    <td>
                        0.23
                    </td>
                    <td>
                        0.23
                    </td>
                    <td>
                        0.23
                    </td>
                    <td>
                        0.23
                    </td>
                    <td>
                        1.15
                    </td>
                </tr>
                <tr>
                    <td>
                        2017年
                    </td>
                    <td>
                        设施名称9
                    </td>
                    <td>
                        单位1
                    </td>
                    <td>
                        任务类别9
                    </td>
                    <td>
                        0.23
                    </td>
                    <td>
                        0.23
                    </td>
                    <td>
                        0.23
                    </td>
                    <td>
                        0.23
                    </td>
                    <td>
                        1.15
                    </td>
                </tr>
               <tr>
                    <td>
                        2017年
                    </td>
                    <td>
                        设施名称9
                    </td>
                    <td>
                        单位1
                    </td>
                    <td>
                        任务类别9
                    </td>
                    <td>
                        0.23
                    </td>
                    <td>
                        0.23
                    </td>
                    <td>
                        0.23
                    </td>
                    <td>
                        0.23
                    </td>
                    <td>
                        1.15
                    </td>
                </tr>
                <tr>
                    <td>
                        2017年
                    </td>
                    <td>
                        设施名称9
                    </td>
                    <td>
                        单位1
                    </td>
                    <td>
                        任务类别9
                    </td>
                    <td>
                        0.23
                    </td>
                    <td>
                        0.23
                    </td>
                    <td>
                        0.23
                    </td>
                    <td>
                        0.23
                    </td>
                    <td>
                        1.15
                    </td>
                </tr>
                <tr>
                    <td>
                        2017年
                    </td>
                    <td>
                        设施名称9
                    </td>
                    <td>
                        单位1
                    </td>
                    <td>
                        任务类别9
                    </td>
                    <td>
                        0.23
                    </td>
                    <td>
                        0.23
                    </td>
                    <td>
                        0.23
                    </td>
                    <td>
                        0.23
                    </td>
                    <td>
                        1.15
                    </td>
                </tr>
                <tr>
                    <td>
                        2017年
                    </td>
                    <td>
                        设施名称9
                    </td>
                    <td>
                        单位1
                    </td>
                    <td>
                        任务类别9
                    </td>
                    <td>
                        0.23
                    </td>
                    <td>
                        0.23
                    </td>
                    <td>
                        0.23
                    </td>
                    <td>
                        0.23
                    </td>
                    <td>
                        1.15
                    </td>
                </tr>
                <tr>
                    <td>
                        2017年
                    </td>
                    <td>
                        设施名称9
                    </td>
                    <td>
                        单位1
                    </td>
                    <td>
                        任务类别9
                    </td>
                    <td>
                        0.23
                    </td>
                    <td>
                        0.23
                    </td>
                    <td>
                        0.23
                    </td>
                    <td>
                        0.23
                    </td>
                    <td>
                        1.15
                    </td>
                </tr>
                 <tr>
                    <td>
                        2017年
                    </td>
                    <td>
                        设施名称9
                    </td>
                    <td>
                        单位1
                    </td>
                    <td>
                        任务类别9
                    </td>
                    <td>
                        0.23
                    </td>
                    <td>
                        0.23
                    </td>
                    <td>
                        0.23
                    </td>
                    <td>
                        0.23
                    </td>
                    <td>
                        1.15
                    </td>
                </tr>
                <tr>
                    <td>
                        2017年
                    </td>
                    <td>
                        设施名称9
                    </td>
                    <td>
                        单位1
                    </td>
                    <td>
                        任务类别9
                    </td>
                    <td>
                        0.23
                    </td>
                    <td>
                        0.23
                    </td>
                    <td>
                        0.23
                    </td>
                    <td>
                        0.23
                    </td>
                    <td>
                        1.15
                    </td>
                </tr>
                <tr>
                    <td>
                        2017年
                    </td>
                    <td>
                        设施名称9
                    </td>
                    <td>
                        单位1
                    </td>
                    <td>
                        任务类别9
                    </td>
                    <td>
                        0.23
                    </td>
                    <td>
                        0.23
                    </td>
                    <td>
                        0.23
                    </td>
                    <td>
                        0.23
                    </td>
                    <td>
                        1.15
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="iframeDialog">
    </div>
    <div style="display: none">
        <iframe id="ifrExp" src=""></iframe>
    </div>
</body>
</html>
