<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>辐射职业照射数据采集和统一管理</title>
    <link type="text/css" rel="Stylesheet" href="../../Contents/Css/base.css" />
    <link type="text/css" rel="Stylesheet" href="../../Contents/Css/platform.css" />
    <link type="text/css" rel="Stylesheet" href="../../Scripts/jQEasyUI/themes/easyui.css" />
    <link type="text/css" rel="Stylesheet" href="../../Scripts/jQEasyUI/themes/icon.css" />
    <script type="text/javascript" src="../../Scripts/jquery.min.js"></script>
    <script type="text/javascript" src="../../Scripts/IllegalityCheck.js"></script>
    <script type="text/javascript" src="../../Scripts/jQEasyUI/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../../Scripts/jQEasyUI/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="../../Scripts/FunctionJS.js"></script>
</head>
<body class="easyui-layout" fit="true">
    <div data-options="region:'center',border:false,iconCls:'icon-list'">
        <table id="T3" border="false" fit="true" class="easyui-datagrid" data-options="singleSelect: true, striped: true,  pagination: false, rownumbers: true, nowrap: false">
            <thead>
                <tr>
                    <th data-options="field:'F11',width:120,align:'center',sortable: true">
                        设施名称
                    </th>
                    <th data-options="field:'F01',width:120,align:'center',sortable: true">
                        单位
                    </th>
                    <th data-options="field:'F12',width:100,align:'center',sortable: true">
                        送报人
                    </th>
                    <th data-options="field:'F13',width:100,align:'center',sortable: true">
                        数量
                    </th>
                    <th data-options="field:'F1',width:140,align:'center',sortable: true">
                        送报时间
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        设施名称1
                    </td>
                    <td>
                        单位1
                    </td>
                    <td>
                        张三1
                    </td>
                    <td>
                        129
                    </td>
                    <td>
                        2017-01-12 12:01:01
                    </td>
                </tr>
                <tr>
                    <td>
                        设施名称1
                    </td>
                    <td>
                        单位1
                    </td>
                    <td>
                        张三1
                    </td>
                    <td>
                        129
                    </td>
                    <td>
                        2017-02-10 12:01:01
                    </td>
                </tr>
                <tr>
                    <td>
                        设施名称1
                    </td>
                    <td>
                        单位1
                    </td>
                    <td>
                        张三1
                    </td>
                    <td>
                        129
                    </td>
                    <td>
                        2017-03-09 12:01:01
                    </td>
                </tr>
                <tr>
                    <td>
                        设施名称1
                    </td>
                       <td>
                        单位1
                    </td>
                    <td>
                        张三1
                    </td>
                    <td>
                        119
                    </td>
                    <td>
                        2017-04-10 12:01:01
                    </td>
                </tr>
                <tr>
                    <td>
                        设施名称1
                    </td>
                       <td>
                        单位1
                    </td>
                    <td>
                        张三1
                    </td>
                    <td>
                        98
                    </td>
                    <td>
                        2017-05-12 12:01:01
                    </td>
                </tr>
                <tr>
                    <td>
                        设施名称1
                    </td>
                       <td>
                        单位1
                    </td>
                    <td>
                        张三1
                    </td>
                    <td>
                        87
                    </td>
                    <td>
                        2017-06-10 12:01:01
                    </td>
                </tr>
                <tr>
                    <td>
                        设施名称1
                    </td>
                       <td>
                        单位1
                    </td>
                    <td>
                        张三1
                    </td>
                    <td>
                        121
                    </td>
                    <td>
                        2017-07-10 12:01:01
                    </td>
                </tr>
                <tr>
                    <td>
                        设施名称1
                    </td>
                       <td>
                        单位1
                    </td>
                    <td>
                        张三1
                    </td>
                    <td>
                        129
                    </td>
                    <td>
                        2017-08-10 12:01:01
                    </td>
                </tr>
                <tr>
                    <td>
                        设施名称1
                    </td>
                       <td>
                        单位1
                    </td>
                    <td>
                        张三1
                    </td>
                    <td>
                        129
                    </td>
                    <td>
                        2017-09-12 12:01:01
                    </td>
                </tr>
                <tr>
                    <td>
                        设施名称1
                    </td>
                    <td>
                        张三1
                    </td>
                    <td>
                        129
                    </td>
                    <td>
                        2017-10-10 12:01:01
                    </td>
                </tr>
                <tr>
                    <td>
                        设施名称1
                    </td>
                       <td>
                        单位1
                    </td>
                    <td>
                        张三1
                    </td>
                    <td>
                        129
                    </td>
                    <td>
                        2017-11-10 12:01:01
                    </td>
                </tr>
                <tr>
                    <td>
                        设施名称1
                    </td>
                       <td>
                        单位1
                    </td>
                    <td>
                        张三1
                    </td>
                    <td>
                        129
                    </td>
                    <td>
                        2017-12-10 12:01:01
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
