<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>辐射职业照射数据采集和统一管理</title>
    <link type="text/css" rel="Stylesheet" href="../../Contents/Css/base.css" />
    <link type="text/css" rel="Stylesheet" href="../../Contents/Css/platform.css" />
    <link type="text/css" rel="Stylesheet" href="../../Scripts/jQEasyUI/themes/easyui.css" />
    <link type="text/css" rel="Stylesheet" href="../../Scripts/jQEasyUI/themes/icon.css" />
    <script type="text/javascript" src="../../Scripts/jquery.min.js"></script>
    <script type="text/javascript" src="../../Scripts/IllegalityCheck.js"></script>
    <script type="text/javascript" src="../../Scripts/jQEasyUI/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../../Scripts/jQEasyUI/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="../../Scripts/FunctionJS.js"></script>
</head>
<body class="easyui-layout" fit="true">
    <div data-options="region:'center',border:false,iconCls:'icon-list'">
        <table id="T3" border="false" fit="true" class="easyui-datagrid" data-options="singleSelect: true, striped: true, pageSize: 20, pagination: true, rownumbers: true, nowrap: false">
            <thead>
                <tr>
                    <th data-options="field:'F11',width:100,align:'center',sortable: true">
                        姓名
                    </th>
                    <th data-options="field:'F12',width:160,align:'center',sortable: true">
                        证件号
                    </th>
                    <th data-options="field:'F1',width:150,align:'center',sortable: true">
                        工作单位
                    </th>
                    <th data-options="field:'itemid1',width:160,align:'center'">
                        授权记录
                    </th>
                    <th data-options="field:'itemid2',width:150,align:'center'">
                        变更日期
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        张三5
                    </td>
                    <td>
                        2128108321718830****X
                    </td>
                    <td>
                        某某工作单位1
                    </td>
                    <td>
                        授权记录 0
                    </td>
                    <td>
                        2018-05-05
                    </td>
                </tr>
                <tr>
                    <td>
                        张三5
                    </td>
                    <td>
                        2128108321718830****X
                    </td>
                    <td>
                        某某工作单位2
                    </td>
                    <td>
                        授权记录 1
                    </td>
                    <td>
                        2017-04-05 
                    </td>
                </tr>
                <tr>
                    <td>
                        张三5
                    </td>
                    <td>
                        2128108321718830****X
                    </td>
                    <td>
                        某某工作单位3
                    </td>
                    <td>
                        授权记录 2
                    </td>
                    <td>
                        2016-03-05 
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
