.icon-blank {
	background: url("icons/blank.gif") no-repeat center center
}

.icon-add {
	background: url("icons/edit_add.png") no-repeat center center
}

.icon-edit {
	background: url("icons/pencil.png") no-repeat center center
}

.icon-clear {
	background: url("icons/clear.png") no-repeat center center
}

.icon-remove {
	background: url("icons/edit_remove.png") no-repeat center center
}

.icon-save {
	background: url("icons/filesave.png") no-repeat center center
}

.icon-cut {
	background: url("icons/cut.png") no-repeat center center
}

.icon-ok {
	background: url("icons/ok.png") no-repeat center center
}

.icon-no {
	background: url("icons/no.png") no-repeat center center
}

.icon-cancel {
	background: url("icons/cancel.png") no-repeat center center
}

.icon-reload {
	background: url("icons/reload.png") no-repeat center center
}

.icon-search {
	background: url("icons/search.png") no-repeat center center
}

.icon-print {
	background: url("icons/print.png") no-repeat center center
}

.icon-help {
	background: url("icons/help.png") no-repeat center center
}

.icon-undo {
	background: url("icons/undo.png") no-repeat center center
}

.icon-redo {
	background: url("icons/redo.png") no-repeat center center
}

.icon-back {
	background: url("icons/back.png") no-repeat center center
}

.icon-sum {
	background: url("icons/sum.png") no-repeat center center
}

.icon-tip {
	background: url("icons/tip.png") no-repeat center center
}

.icon-filter {
	background: url("icons/filter.png") no-repeat center center
}

.icon-man {
	background: url("icons/man.png") no-repeat center center
}

.icon-lock {
	background: url("icons/lock.png") no-repeat center center
}

.icon-more {
	background: url("icons/more.png") no-repeat center center
}

.icon-mini-add {
	background: url("icons/mini_add.png") no-repeat center center
}

.icon-mini-edit {
	background: url("icons/mini_edit.png") no-repeat center center
}

.icon-mini-refresh {
	background: url("icons/mini_refresh.png") no-repeat center center
}

.icon-large-picture {
	background: url("icons/large_picture.png") no-repeat center center
}

.icon-large-clipart {
	background: url("icons/large_clipart.png") no-repeat center center
}

.icon-large-shapes {
	background: url("icons/large_shapes.png") no-repeat center center
}

.icon-large-smartart {
	background: url("icons/large_smartart.png") no-repeat center center
}

.icon-large-chart {
	background: url("icons/large_chart.png") no-repeat center center
}

.icon-list {
	background: url("icons/list.png") no-repeat center center
}
.icon-01 {
	background: url("icons/01.png") no-repeat center center
}
.icon-02 {
	background: url("icons/02.png") no-repeat center center
}
.icon-03 {
	background: url("icons/03.png") no-repeat center center
}
.icon-04 {
	background: url("icons/04.png") no-repeat center center
}
.icon-05 {
	background: url("icons/05.png") no-repeat center center
}
.icon-06 {
	background: url("icons/06.png") no-repeat center center
}
.icon-07 {
	background: url("icons/07.png") no-repeat center center
}
.icon-08 {
	background: url("icons/08.png") no-repeat center center
}
.icon-09 {
	background: url("icons/09.png") no-repeat center center
}
.icon-10 {
	background: url("icons/10.png") no-repeat center center
}
.icon-11 {
	background: url("icons/11.png") no-repeat center center
}
.icon-12 {
	background: url("icons/12.png") no-repeat center center
}
.icon-13 {
	background: url("icons/13.png") no-repeat center center
}
.icon-14 {
	background: url("icons/14.png") no-repeat center center
}
.icon-15 {
	background: url("icons/15.png") no-repeat center center
}
.icon-16 {
	background: url("icons/16.png") no-repeat center center
}
.icon-17 {
	background: url("icons/17.png") no-repeat center center
}
.icon-18 {
	background: url("icons/18.png") no-repeat center center
}
.icon-19 {
	background: url("icons/19.png") no-repeat center center
}
.icon-20 {
	background: url("icons/20.png") no-repeat center center
}
.icon-21 {
	background: url("icons/21.png") no-repeat center center
}
.icon-22 {
	background: url("icons/22.png") no-repeat center center
}
.icon-23 {
	background: url("icons/23.png") no-repeat center center
}
.icon-24 {
	background: url("icons/24.png") no-repeat center center
}
.icon-25 {
	background: url("icons/25.png") no-repeat center center
}
.icon-26 {
	background: url("icons/26.png") no-repeat center center
}
.icon-27 {
	background: url("icons/27.png") no-repeat center center
}
.icon-28 {
	background: url("icons/28.png") no-repeat center center
}
.icon-29 {
	background: url("icons/29.png") no-repeat center center
}
.icon-30 {
	background: url("icons/30.png") no-repeat center center
}
.icon-31 {
	background: url("icons/31.png") no-repeat center center
}
.icon-32 {
	background: url("icons/32.png") no-repeat center center
}

.icon-33 {
	background: url("icons/33.png") no-repeat center center
}
.icon-34 {
	background: url("icons/34.png") no-repeat center center
}
.icon-35 {
	background: url("icons/35.png") no-repeat center center
}
.icon-36 {
	background: url("icons/36.png") no-repeat center center
}
.icon-37 {
	background: url("icons/37.png") no-repeat center center
}
.icon-38 {
	background: url("icons/38.png") no-repeat center center
}
.icon-39 {
	background: url("icons/39.png") no-repeat center center
}
.icon-40 {
	background: url("icons/40.png") no-repeat center center
}
.icon-41 {
	background: url("icons/41.png") no-repeat center center
}
.icon-42 {
	background: url("icons/42.png") no-repeat center center
}
.icon-43 {
	background: url("icons/43.png") no-repeat center center
}
.icon-44 {
	background: url("icons/44.png") no-repeat center center
}
.icon-45 {
	background: url("icons/45.png") no-repeat center center
}
.icon-46 {
	background: url("icons/46.png") no-repeat center center
}
.icon-47 {
	background: url("icons/47.png") no-repeat center center
}
.icon-48 {
	background: url("icons/48.png") no-repeat center center
}
.icon-49 {
	background: url("icons/49.png") no-repeat center center
}
.icon-50 {
	background: url("icons/50.png") no-repeat center center
}
.icon-51 {
	background: url("icons/51.png") no-repeat center center
}
.icon-52 {
	background: url("icons/52.png") no-repeat center center
}
.icon-53 {
	background: url("icons/53.png") no-repeat center center
}
.icon-54 {
	background: url("icons/54.png") no-repeat center center
}
.icon-55 {
	background: url("icons/55.png") no-repeat center center
}
.icon-56 {
	background: url("icons/56.png") no-repeat center center
}
.icon-57 {
	background: url("icons/57.png") no-repeat center center
}
.icon-58 {
	background: url("icons/58.png") no-repeat center center
}
.icon-59 {
	background: url("icons/59.png") no-repeat center center
}
.icon-60 {
	background: url("icons/60.png") no-repeat center center
}
.icon-70 {
	background: url("icons/70.png") no-repeat center center
}
.icon-71 {
	background: url("icons/71.png") no-repeat center center
}
.icon-72 {
	background: url("icons/72.png") no-repeat center center
}
.icon-73 {
	background: url("icons/73.png") no-repeat center center
}
.icon-74 {
	background: url("icons/74.png") no-repeat center center
}
.icon-75 {
	background: url("icons/75.gif") no-repeat center center
}
.icon-76 {
	background: url("icons/76.gif") no-repeat center center
}
.icon-77 {
	background: url("icons/77.png") no-repeat center center
}
.icon-78 {
	background: url("icons/78.png") no-repeat center center
}
.icon-79 {
	background: url("icons/79.png") no-repeat center center
}
.icon-back {
	background: url("icons/back.png") no-repeat center center
}
.icon-reload {
	background: url("icons/reload.png") no-repeat center center
}
.icon-print {
	background: url("icons/print.png") no-repeat center center
}
.icon-edit {
	background: url("icons/edit.png") no-repeat center center
}

.icon-checkAllOff {
	background: url("icons/checkAllOff.gif") no-repeat center center
}
.icon-checkAllOn {
	background: url("icons/checkAllOn.gif") no-repeat center center
}
.icon-site {
	background: url("icons/icon_site.gif") no-repeat center center
}
.icon-dept1 {
	background: url("icons/dept.png") no-repeat center center
}
.icon-dept2 {
	background: url("icons/dept-2.png") no-repeat center center
}
.icon-group {
	background: url("icons/group.png") no-repeat center center
}
.icon-pie {
	background: url("icons/pie.png") no-repeat center center
}
.icon-bar {
	background: url("icons/bar.png") no-repeat center center
}